

.footer{
    display: flex;
    flex-direction: row;
    width: 1440px;
    height: 380px;
    background: rgba(33, 33, 33, 1);
    margin-top: 900px;
    position: absolute
}

.footer_button_logo{
    position: absolute;
    margin-top: 25px;
    margin-left: 20px;
    border: none;
    background-color: rgba(33, 33, 33, 1);
}

.footer_text_1{
    position: absolute;
    color:white;
    margin-top: 108px;
    margin-left: 20px;
    width: 266px;
    height: 68px;
    background-color:rgba(33, 33, 33, 1);
}

.footer_text_mail{
    position: absolute;
    width: 192px;
    height: 24px;
    color: #FFFFFF;
    background-color: rgba(33, 33, 33, 1);
    margin-top: 225px;
    margin-left: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none
}

.footer_text_phoneNumber{
    position: absolute;
    color: rgba(255, 92, 0, 1);
    background-color: rgba(33, 33, 33, 1);
    width: 177px;
    height: 24px;
    margin-top: 267px;
    margin-left: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none
}

.footer_text_rights{
    position: absolute;
    width: 245px;
    height: 17px;
    margin-left: 20px;
    margin-top: 324px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    background-color: rgba(33, 33, 33, 1);
}

.footer_text_politicConfedential{
    position: absolute;
    width: 218px;
    height: 17px;
    margin-top: 324px;
    margin-left: 429px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    background-color: rgba(33, 33, 33, 1);
}

.footer_text_userAgrement{
    position: absolute;
    width: 214px;
    height: 17px;
    margin-top: 324px;
    margin-left: 728px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    background-color: rgba(33, 33, 33, 1);
}

.footer_whatsApp_form{
    position: absolute;
    width: 183px;
    height: 183px;
    margin-top: 120px;
    margin-left: 611px;
    border: #FF5C00;
    background-color: #FFFFFF;
    border:2px solid #FF5C00;
    border-radius: 10px;
}

.footer_whatsApp{
    position: absolute;
    width: 101px;
    height: 24px;
    margin-top: 19px;
    margin-left: 15px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #FF5C00;
    text-decoration: none
}

.footer_whatsApp_text{
    position: absolute;
    width: 168px;
    height: 34px;
    margin-top: 56px;
    margin-left: 15px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #000000;

}

.footer_button_whatsApp{
    position: absolute;
    width: 40px;
    height: 40px;
    margin-top: 129px;
    margin-left: 14px;
    border: none;
    padding: 0px;
    background-color: #FFFFFF;
}

.footer_img_whatsApp{
}

.footer_vk_form{
    position: absolute;
    width: 183px;
    height: 183px;
    margin-top: 120px;
    margin-left: 848px;
    border: #FF5C00;
    background-color: #FFFFFF;
    border:2px solid #FF5C00;
    border-radius: 10px;
}

.footer_vk{
    position: absolute;
    width: 101px;
    height: 24px;
    margin-top: 19px;
    margin-left: 15px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #FF5C00;
    text-decoration: none
}

.footer_vk_text{
    position: absolute;
    width: 168px;
    height: 34px;
    margin-top: 56px;
    margin-left: 15px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #000000;
}

.footer_button_vk{
    position: absolute;
    width: 40px;
    height: 40px;
    margin-top: 129px;
    margin-left: 14px;
    border: none;
    padding: 0px;
    background-color: #FFFFFF;
}

.footer_tg_form{
    position: absolute;
    width: 183px;
    height: 183px;
    margin-top: 120px;
    margin-left: 1068px;
    border: #FF5C00;
    background-color: #FFFFFF;
    border:2px solid #FF5C00;
    border-radius: 10px;
}

.footer_tg{
    position: absolute;
    width: 101px;
    height: 24px;
    margin-top: 19px;
    margin-left: 15px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #FF5C00;
    text-decoration: none
}

.footer_tg_text{
    position: absolute;
    width: 168px;
    height: 34px;
    margin-top: 56px;
    margin-left: 15px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #000000;
}

.footer_button_tg{
    position: absolute;
    width: 40px;
    height: 40px;
    margin-top: 129px;
    margin-left: 14px;
    border: none;
    padding: 0px;
    background-color: #FFFFFF;
}
