.profile {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #F0F2F6;
}

.profile__container {
    width: min(1000px, 100%);
    margin: 0 auto;
    padding: 130px 20px 180px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 30px;
}

@media (width <= 800px)  {
    .profile__container {
        padding: 100px 10px 60px;
    }
}
