.calendar__header {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
}

.calendar__iframe {
    height: 700px;
}

@media (width <= 800px) {
    .calendar__header {
        font-size: 1.4rem;
        line-height: 1.4rem;
    }

    .calendar__iframe {
        height: 600px;
    }
}
